.booking-form {
    position: relative;
    width: 100%;
    font: 14px/20px "Roboto", sans-serif;
}

.booking-form input,
.booking-form textarea {
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    padding: 15px 10px 15px;
    font-size: 14px;
    line-height: 20px;
    height: 48px;
    width: 100%;
}

.booking-form textarea {
    min-height: 200px;
    resize: none;
    font: 14px/20px "Roboto", sans-serif;
}

.booking-form .btn {
    margin-top: 20px;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    display: block;
    text-align: center;
    background: #000;
    border-radius: 3px;
    border: 0;
    width: 100%;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s;
}

.booking-form .tn:hover {
    background: #ffffff;
    color: #f6cc04;
}

* + .booking-form {
    margin-top: 7px;
}

.booking-form *::-webkit-input-placeholder {
    color: #888888;
    opacity: 1;
}

.booking-form *:-moz-placeholder {
    color: #888888;
    opacity: 1;
}

.booking-form *::-moz-placeholder {
    color: #888888;
    opacity: 1;
}

.booking-form *:-ms-input-placeholder {
    color: #888888;
    opacity: 1;
}

.tmInput, .tmDatepicker, .tmSelect {
    position: relative;
}

.tmInput:before, .tmDatepicker:before, .tmSelect:before {
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
}

.tmInput input, .tmDatepicker input, .tmSelect input {
    padding-left: 18px;
}

.tmDatepicker, .tmSelect {
    display: block;
}

.tmDatepicker input, .tmSelect input {
    padding-right: 50px;
}

.tmDatepicker:after {
    content: "\e05d";
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 8px;
    font-family: material-design;
    font-size: 20px;
    font-weight: 400;
    color: #a9a9a9;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 50%;
}

.tmSelect:after {
    content: "\e071";
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 8px;
    font-family: material-design;
    font-size: 25px;
    font-weight: 400;
    color: #a9a9a9;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 50%;
    pointer-events: none;
}

.controlHolder {
    position: relative;
}

* + .controlHolder {
    margin-top: 10px;
}

/* Messages */

.error-message {
    position: absolute;
    top: 2px;
    left: 2px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    z-index: 4;
    color: #FE5353;
}

.success-message {
    position: absolute;
    left: 0;
    right: 0;
    top: -13px;
    bottom: 78px;
    background: #ffffff;
    color: #333333;
    text-align: left;
    font-size: 14px;
    line-height: 15px;
    padding: 20px;
}

/* transformSelect CSS */

.tmSelect {
    clear: both;
    width: 100%;
    margin: 0px;
}

.tmSelect li {
    position: relative;
    list-style: none;
}

.tmSelect span, .tmSelect input[type=text] {
    position: relative;
    cursor: pointer;
    display: block;
    left: 0;
    top: 0;
    margin: 0;
}

.tmSelect.auto {
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    font: 14px/20px "Roboto", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tmSelect.auto span {
    background: transparent;
}

.tmSelect.auto ul {
    margin: 1px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #F9F9F9;
}

.tmSelect.auto > li:first-child > span {
    padding: 7px 12px;
    width: 35px;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tmSelect ul, .tmSelect .transformSelectDropdown {
    position: absolute;
    width: 100%;
    max-height: 210px;
    padding: 7px 0px;
    margin: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    font: 14px/20px "Roboto", sans-serif;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    background: #F9F9F9;
    z-index: 10;
}

.tmSelect ul span, .tmSelect .transformSelectDropdown span {
    border: 0;
    color: #000;
    padding: 5px 13px;
}

.tmSelect ul span:hover, .tmSelect .transformSelectDropdown span:hover {
    background: #CCC;
}

.tmSelect ul li input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

/* Radio */

.trans-element-radio {
    display: inline-block;
    display: block;
    zoom: 1;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.tmRadio {
    padding-left: 0;
}

.tmRadio p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.tmRadio p {
    padding-bottom: 0;
    margin-bottom: 3px;
}

.tmRadio input {
    margin-right: 5px;
}

.tmRadio .unchecked, .tmRadio .checked {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.tmRadio .unchecked:after, .tmRadio .checked:after {
    content: '\f10c';
    position: relative;
    top: 2px;
    font: normal normal 18px 'FontAwesome';
    color: #CCC;
}

.tmRadio .checked:after {
    content: '\f05d';
}

/* Checkbox */

.trans-element-checkbox {
    cursor: pointer;
    zoom: 1;
}

.trans-element-checkbox span {
    padding-left: 40px;
}

.trans-element-checkbox.checked:after {
    content: '\f046';
}

.trans-element-checkbox:after {
    content: '\f096';
    position: relative;
    display: inline-block;
    top: 2px;
    width: 17px;
    font: normal normal 18px 'FontAwesome';
    color: #CCC;
}

.trans-element-checkbox.unchecked:after {
    content: '\f096';
}

.tmCheckbox, .tmRadio {
    margin-left: 0;
    padding-left: 0;
    padding: 0;
}

.tmCheckbox span, .tmRadio span {
    position: relative;
    margin-right: 10px;
}

.ui-datepicker {
    padding: 10px;
    width: 282px;
    font-size: 13px;
    display: none;
    z-index: 100 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    background: #F9F9F9;
}

.ui-datepicker a {
    color: #777;
}

.ui-datepicker a:hover {
    color: #000;
    text-decoration: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar {
    margin: 10px 11px;
}

.ui-datepicker-calendar td {
    padding: 1px 10px;
    text-align: center;
}

.ui-datepicker-calendar .ui-datepicker-current-day, .ui-datepicker-calendar .ui-datepicker-today {
    padding: 3px;
    background: #0fcabf;
    color: #FFF;
}

.ui-datepicker-calendar .ui-datepicker-current-day a, .ui-datepicker-calendar .ui-datepicker-today a {
    color: #FFF;
}

button.ui-state-default {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 4px 6px;
    background: #0fcabf;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

button.ui-state-default::-moz-focus-inner {
    border: none;
    padding: 0;
}

button.ui-state-default[data-handler='today'] {
    display: none;
}

.ui-datepicker-close {
    float: right;
}

























.button {
    background-color: #fc0;
    padding: 10px 30px;
    color: black;
    margin: 5% 0;
    border: 0;
    border-radius: 3px;
    font-size: 0.9em;
}

.button.small {
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    font-size: 0.7em;
}

.result-modal {
    width: 60%;
    background-color: #fc0;
    position: fixed;
    text-align: center;
    top: 70px;
    left: 20%;
    border-radius: 5px;
    box-shadow: 3px 2px 150px black;
    padding: 1% 5%;
    box-sizing: border-box;
    z-index: 999;
    color: black;

    display: none;
}

.result-modal .title {
    font-size: 2rem;
    font-weight: bold;
}

.result-modal .description {
    font-size: 1.1rem;
    font-weight: bold;
}

.result-modal .errors {
    margin-top: 5%;
}

.result-modal .button {
    width: 50%;
    display: inline-block;
    background-color: black;
    color: white;
    cursor: pointer;
}

.status-icon {
    width: 30%;
    margin-top: 5%;
}
