/* Control Holder */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000338}}
.booking-form {
  position: relative;
  width: 100%;
  font: 14px/20px "Roboto", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000342}}
  .booking-form input,
  .booking-form textarea {
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    padding: 15px 10px 15px;
    font-size: 14px;
    line-height: 20px;
    height: 48px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000353}}
  .booking-form textarea {
    min-height: 200px;
    resize: none;
    font: 14px/20px "Roboto", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000359}}
  .booking-form a[data-type='submit'] {
    margin-top: 20px;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    display: block;
    text-align: center;
    background: #000;
    border-radius: 3px;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.24); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000373}}
    .booking-form a[data-type='submit']:hover {
      background: #ffffff;
      color: #f6cc04; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000379}}
  * + .booking-form {
    margin-top: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000381}}
  .booking-form *::-webkit-input-placeholder {
    color: #888888;
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000382}}
  .booking-form *:-moz-placeholder {
    color: #888888;
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000383}}
  .booking-form *::-moz-placeholder {
    color: #888888;
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000384}}
  .booking-form *:-ms-input-placeholder {
    color: #888888;
    opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000387}}
.tmInput, .tmDatepicker, .tmSelect {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000390}}
  .tmInput:before, .tmDatepicker:before, .tmSelect:before {
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\0000399}}
  .tmInput input, .tmDatepicker input, .tmSelect input {
    padding-left: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003104}}
.tmDatepicker, .tmSelect {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003106}}
  .tmDatepicker input, .tmSelect input {
    padding-right: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003112}}
.tmDatepicker:after {
  content: "\e05d";
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 8px;
  font-family: material-design;
  font-size: 20px;
  font-weight: 400;
  color: #a9a9a9;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f2f2f2;
  border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003134}}
.tmSelect:after {
  content: "\e071";
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 8px;
  font-family: material-design;
  font-size: 25px;
  font-weight: 400;
  color: #a9a9a9;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f2f2f2;
  border-radius: 50%;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003156}}
.controlHolder {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003158}}
  * + .controlHolder {
    margin-top: 10px; }

/* Messages */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003162}}
.error-message {
  position: absolute;
  top: 2px;
  left: 2px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  z-index: 4;
  color: #FE5353; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003175}}
.success-message {
  position: absolute;
  left: 0;
  right: 0;
  top: -13px;
  bottom: 78px;
  background: #ffffff;
  color: #333333;
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  padding: 20px; }

/* transformSelect CSS */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003190}}
.tmSelect {
  clear: both;
  width: 100%;
  margin: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003194}}
  .tmSelect li {
    position: relative;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003198}}
  .tmSelect span, .tmSelect input[type=text] {
    position: relative;
    cursor: pointer;
    display: block;
    left: 0;
    top: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003207}}
  .tmSelect.auto {
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    font: 14px/20px "Roboto", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003209}}
    .tmSelect.auto span {
      background: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003218}}
    .tmSelect.auto ul {
      margin: 1px 0 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      background: #F9F9F9; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003225}}
    .tmSelect.auto > li:first-child > span {
      padding: 7px 12px;
      width: 35px;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003233}}
  .tmSelect ul, .tmSelect .transformSelectDropdown {
    position: absolute;
    width: 100%;
    max-height: 210px;
    padding: 7px 0px;
    margin: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #888888;
    background: #ffffff;
    border-radius: 2px;
    font: 14px/20px "Roboto", sans-serif;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    background: #F9F9F9;
    z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003248}}
    .tmSelect ul span, .tmSelect .transformSelectDropdown span {
      border: 0;
      color: #000;
      padding: 5px 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003252}}
      .tmSelect ul span:hover, .tmSelect .transformSelectDropdown span:hover {
        background: #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003257}}
  .tmSelect ul li input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    cursor: pointer; }

/* Radio */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003266}}
.trans-element-radio {
  display: inline-block;
  display: block;
  zoom: 1;
  width: 15px;
  height: 15px;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003275}}
.tmRadio {
  padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003277}}
  .tmRadio p {
    padding-bottom: 0;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003281}}
  .tmRadio p {
    padding-bottom: 0;
    margin-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003285}}
  .tmRadio input {
    margin-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003288}}
  .tmRadio .unchecked, .tmRadio .checked {
    position: relative;
    cursor: pointer;
    margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003292}}
    .tmRadio .unchecked:after, .tmRadio .checked:after {
      content: '\f10c';
      position: relative;
      top: 2px;
      font: normal normal 18px 'FontAwesome';
      color: #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003300}}
  .tmRadio .checked:after {
    content: '\f05d'; }

/* Checkbox */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003307}}
.trans-element-checkbox {
  cursor: pointer;
  zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003310}}
  .trans-element-checkbox span {
    padding-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003314}}
  .trans-element-checkbox.checked:after {
    content: '\f046'; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003318}}
  .trans-element-checkbox:after {
    content: '\f096';
    position: relative;
    display: inline-block;
    top: 2px;
    width: 17px;
    font: normal normal 18px 'FontAwesome';
    color: #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003327}}
  .trans-element-checkbox.unchecked:after {
    content: '\f096'; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003333}}
.tmCheckbox, .tmRadio {
  margin-left: 0;
  padding-left: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003337}}
  .tmCheckbox span, .tmRadio span {
    position: relative;
    margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003343}}
.ui-datepicker {
  padding: 10px;
  width: 282px;
  font-size: 13px;
  display: none;
  z-index: 100 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #888888;
  background: #ffffff;
  border-radius: 2px;
  background: #F9F9F9; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003351}}
  .ui-datepicker a {
    color: #777; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003353}}
    .ui-datepicker a:hover {
      color: #000;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003360}}
.ui-datepicker-prev, .ui-datepicker-next {
  cursor: pointer;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003365}}
.ui-datepicker-next {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003369}}
.ui-datepicker-title {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003373}}
.ui-datepicker-calendar {
  margin: 10px 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003375}}
  .ui-datepicker-calendar td {
    padding: 1px 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003379}}
  .ui-datepicker-calendar .ui-datepicker-current-day, .ui-datepicker-calendar .ui-datepicker-today {
    padding: 3px;
    background: #0fcabf;
    color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003384}}
    .ui-datepicker-calendar .ui-datepicker-current-day a, .ui-datepicker-calendar .ui-datepicker-today a {
      color: #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003390}}
button.ui-state-default {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 4px 6px;
  background: #0fcabf;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/include\/_mixins\.scss}line{font-family:\00003249}}
  button.ui-state-default::-moz-focus-inner {
    border: none;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003400}}
  button.ui-state-default[data-handler='today'] {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/landing\/02\.March\/02\.Mercury\.25472\.landing\.nyan\/2-develop\/site\/sass\/booking\.scss}line{font-family:\00003408}}
.ui-datepicker-close {
  float: right; }
